.cart-total{
    border: 5px solid rgb(219, 23, 23);
    width: 380px;
    height: 100px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    margin-left: 1130px;
    gap:"12px";
    position: relative;
}
/* .cart-name{
    border: 2px solid;
    height:max-content;
    align-items: center;
    justify-content: center;
} */
.cart-total:hover{
 color:greenyellow   ;
 text-decoration: underline;
 text-decoration-color: black;

}
.cart-price{
    text-align: center;
    cursor: pointer;
}
.cart-price:hover{
    color:red;
    text-decoration: underline;
    text-decoration-color: black;
}
.cart-image{
    text-align: center;
}
.cart-title{
    text-align: center;
    cursor: pointer;
}